<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Re Assign</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <form [formGroup]="_form">
                        <div class="col-sm-3">
                            <select id="campaign_id" class="form-control" formControlName="campaign_id" #campaign_id>
                                <option value="">Select Campaign</option>
                                <option *ngFor="let campaign of _campaigns" [value]="campaign.id">{{campaign.title}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" bsDaterangepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }" formControlName="filterDate" placeholder="Filter by assigned date" readonly />
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success" (click)="tasklist(campaign_id.value, _form.value.filterDate)" [disabled]="!_form.valid || _submitted === true">Search</button>
                            <div *ngIf="_submitted === true" class="spinner"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center">#</th>
                            <th style="text-align: center">Customer Name</th>
                            <th style="text-align: center">Mobile</th>
                            <th style="text-align: center">Email</th>
                            <th style="text-align: center">OCR Comments</th>
                            <th style="text-align: center">State</th>
                            <th style="text-align: center">Assigned On</th>
                            <th style="text-align: center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let resd of _reassigndetails; let i=index">
                            <td align="center">{{i+1}}</td>
                            <td align="center">{{resd.customername}}</td>
                            <td align="center">{{resd.mobile}}</td>
                            <td align="center">{{resd.email}}</td>
                            <td align="center">{{resd.billsnap_comments}}</td>
                            <td align="center">{{resd.statename}}</td>
                            <td align="center">{{resd.assigned_on | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td align="center"><a (click)="viewTask(resd)"><i class="fa fa-pencil"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>