<section class="content">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Campaign : {{_campaignName}}</h3>
                </div>
                <form class="form-horizontal" [formGroup]="_form">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="box box-success box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Customer Details</h3>
                                    </div>
                                    <div class="box-body">
                                        <dl class="dl-horizontal">
                                            <dt>Customer Name :</dt>
                                            <dd> {{_winnerdata?.customername}}</dd>

                                            <dt>Mobile :</dt>
                                            <dd> {{_winnerdata?.mobile}}</dd>

                                            <dt>Email :</dt>
                                            <dd> {{_winnerdata?.email}}</dd>

                                            <dt>State :</dt>
                                            <dd> {{_winnerdata?.statename}}</dd>

                                            <dt>Assigned On :</dt>
                                            <dd> {{_winnerdata?.assigned_on | date: 'yyyy-MM-dd HH:mm:ss'}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-warning box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Click for larger view</h3>
                                    </div>
                                    <div class="box-body text-center">
                                        <a href="{{_winnerdata?.bill_image}}" target="_blank"><img src="{{_winnerdata?.bill_image}}" height="200px" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="box box-info box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">OCR Comments</h3>
                                    </div>
                                    <div class="box-body">
                                        <p>{{_winnerdata?.billsnap_comments}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-warning box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Agent Comments</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="col-md-4" style="margin-bottom:10px">
                                            <input type="text" [formControl]="_form.controls['qty']" class="form-control" placeholder="Purchased Qty" #qty />
                                        </div>
                                        <textarea id="agent_comments" class="form-control" rows="8" [formControl]="_form.controls['agent_comments']" [(ngModel)]="_customerdata.agent_comments" #agent_comments></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-7 pull-right">
                            <button type="button" class="btn btn-success pull-center" (click)="approveEntry(qty.value, agent_comments.value)" [disabled]="!_form.valid || _submitted == true">Approve</button>
                            <button type="button" class="btn btn-danger pull-center" (click)="rejectEntry(qty.value, agent_comments.value)" [disabled]="!_form.valid || _submitted == true">Reject</button>
                            <a [routerLink]="['/agent/tasklist']" class="btn btn-default">Cancel</a>
                            <span class="help-block success-text" *ngIf="_successMessage">{{_successMessage}}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>