<!--<div class="animated fadeIn" *ngIf="!_campaignData && !_errorMessage">
    <span class="spinner"></span>
</div>-->

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dashboard</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <h2 class="text-center">Welcome to Dashboard!!</h2>
                    <!--<form [formGroup]="_form">
                        <div class="col-sm-4">
                            <select id="campaign_id" class="form-control" formControlName="campaign_id" #campaign_id>
                                <option value="">Select Campaign</option>
                                <option *ngFor="let campaign of _campaigns" [value]="campaign.id">{{campaign.title}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-success" (click)="getCampaignData(campaign_id.value)" [disabled]="!_form.valid || _submitted === true">Search</button>
                            <div *ngIf="_submitted === true" class="spinner"></div>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Entries</span>
                    <span class="info-box-number">{{_campaignData.summaryReport?.totentries}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-letter"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Valid</span>
                    <span class="info-box-number">{{_campaignData.summaryReport?.totvalid}}</span>
                </div>
            </div>
        </div>

        &lt;!&ndash; fix for small devices only &ndash;&gt;
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-ios"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Invalid</span>
                    <span class="info-box-number">{{_campaignData.summaryReport?.totinvalid}}</span>
                </div>
            </div>
        </div>
    </div>-->

    <!--<div class="row">
        <div class="col-md-4">
            &lt;!&ndash; Info Boxes Style 2 &ndash;&gt;
            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Unique Entries</span>
                    <span class="info-box-number">{{_campaignData.summaryReport?.totuniqueentries}}</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 50%"></div>
                    </div>
                    <span class="progress-description"></span>
                </div>
                &lt;!&ndash; /.info-box-content &ndash;&gt;
            </div>
            &lt;!&ndash; /.info-box &ndash;&gt;
        </div>

        <div class="col-md-4">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Repeat Entries</span>
                    <span class="info-box-number">{{_campaignData.summaryReport?.totrepeatentries}}</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                    </div>
                    <span class="progress-description">
                  </span>
                </div>
                &lt;!&ndash; /.info-box-content &ndash;&gt;
            </div>
        </div>
    </div>-->

    <!--<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">WoW Report</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                <strong>All Incoming Messages across Week on Week</strong>
                            </p>

                            <div class="chart">

                                <canvas baseChart width="1548" height="225"
                                        [datasets]="wowlineChartData"
                                        [labels]="wowlineChartLabels"
                                        [colors]="lineChartColors2"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType">
                                </canvas>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>-->

    <!--<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Time Based Report</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                <strong>All Incoming Messages across time slots</strong>
                            </p>

                            <div class="chart">

                                <canvas baseChart width="1548" height="225"
                                        [datasets]="TBRlineChartData"
                                        [labels]="TBRlineChartLabels"
                                        [colors]="lineChartColors"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType">
                                </canvas>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>-->

    <!--<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Last Week Report</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">
                                <strong>Incoming Messages</strong>
                            </p>

                            <div class="chart">

                                <canvas baseChart width="1548" height="225"
                                        [datasets]="LWRlineChartData"
                                        [labels]="LWRlineChartLabels"
                                        [options]="lineChartOptions"
                                        [legend]="lineChartLegend"
                                        [chartType]="lineChartType">
                                </canvas>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>-->

    <!--<div class="row">
        &lt;!&ndash; Left col &ndash;&gt;
        <div class="col-md-12" *ngIf="lastestMsgs !== 0">

            &lt;!&ndash; TABLE: LATEST Messages &ndash;&gt;
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Messages</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                &lt;!&ndash; /.box-header &ndash;&gt;
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Mobile</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th>Received On</th>
                                <th>Reason</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lastestMsg of lastestMsgs">
                                    <td>{{lastestMsg.id}}</td>
                                    <td>{{lastestMsg.mobile}}</td>
                                    <td>{{lastestMsg.message}}</td>
                                    <td *ngIf="_istn === false">
                                        <span class="label label-success" *ngIf="lastestMsg.status === 'Valid'">{{lastestMsg.status}}</span>
                                        <span class="label label-danger" *ngIf="lastestMsg.status === 'Invalid'">{{lastestMsg.status}}</span>
                                        <span class="label label-warning" *ngIf="lastestMsg.status === 'Inprogress'">{{lastestMsg.status}}</span>
                                        <span class="label label-info" *ngIf="lastestMsg.status === 'TN'">{{lastestMsg.status}}</span>
                                    </td>
                                    <td *ngIf="_istn === true">
                                        <span class="label label-success" *ngIf="lastestMsg.status === 'Step 1'">{{lastestMsg.status}}</span>
                                        <span class="label label-danger" *ngIf="lastestMsg.status === 'Invalid'">{{lastestMsg.status}}</span>
                                        <span class="label label-warning" *ngIf="lastestMsg.status === 'Inprogress'">{{lastestMsg.status}}</span>
                                        <span class="label label-info" *ngIf="lastestMsg.status === 'Step 2'">{{lastestMsg.status}}</span>
                                    </td>
                                    <td>{{lastestMsg.receivedtime | date: 'medium'}}</td>
                                    <td>{{lastestMsg.invalidreason}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    &lt;!&ndash; /.table-responsive &ndash;&gt;
                </div>
                &lt;!&ndash; /.box-body &ndash;&gt;
                <div class="box-footer clearfix">
                </div>
                &lt;!&ndash; /.box-footer &ndash;&gt;
            </div>
            &lt;!&ndash; /.box &ndash;&gt;
        </div>
        &lt;!&ndash; /.col &ndash;&gt;
    </div>-->

    <!--<div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Circlewise Entries</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="chart-responsive">
                                <canvas baseChart width="482" height="195"
                                        [data]="doughnutChartData"
                                        [labels]="doughnutChartLabels"
                                        [legend]="true"
                                        [options]="options"
                                        [chartType]="doughnutChartType">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <ul class="chart-legend clearfix">
                                <li *ngFor="let cwd of circleWiseData">{{cwd.circle}} - {{cwd.qty}}</li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>-->
</section>