#loader {
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#loader > img {
  left: 50%;
  position: fixed;
  top: 50%;
}
#loader > div {
  position: fixed;
  top: 45%;
  text-align: center;
  width: 100%;
}