<div class="animated fadeIn" *ngIf="!_users && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_users">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">User List</h3>
                    <div class="pull-right">
                        <a class="btn btn-block btn-primary" [routerLink]="['/user', 'create']" routerLinkActive="active"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>

                <div class="box-body" *ngIf="_errorMessage">
                    <div class="alert alert-danger">{{_errorMessage}}</div>
                </div>

                <div class="box-body">
                    <table id="tbl-voucher" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of _users; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{user.username}}</td>
                            <td><a (click)="viewUser(user)">{{user.email}}</a></td>
                            <td>{{user.role_label}}</td>
                            <td>
                                <span *ngIf="user.status === 10" class="label label-success">Active</span>
                                <span *ngIf="user.status === 0" class="label label-danger">Inactive</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>