<div class="animated fadeIn" *ngIf="!_mode && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_mode">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" *ngIf="_mode == 'create'">Add New User</h3>
                    <h3 class="box-title" *ngIf="_mode == 'update'">Update User</h3>
                </div>

                <div class="box-body" *ngIf="_errorMessage">
                    <div class="alert alert-danger">{{_errorMessage}}</div>
                </div>

                <form class="form-horizontal" [formGroup]="_form" (ngSubmit)="onSubmit()">
                    <div class="box-body">
                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('campaign_id')}">
                            <label for="campaign_id" class="col-sm-2 control-label">Campaign</label>
                            <div class="col-sm-4">
                                <select id="campaign_id" class="form-control select2" multiple="multiple" [formControl]="_form.controls['campaign_id']" [(ngModel)]="_user.campaign_id">
                                    <option *ngFor="let campaign of _campaigns" [value]="campaign.id">{{campaign.title}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('username')}">
                            <label for="username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-4">
                                <input *ngIf="_mode == 'create'" type="text" id="username" class="form-control" placeholder="Username" [formControl]="_form.controls['username']" [(ngModel)]="_user.username" />
                                <span *ngIf="_mode == 'update'">{{_user.username}}</span>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('password')}">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-4">
                                <input type="password" id="password" class="form-control" placeholder="Password" [formControl]="_form.controls['password']" [(ngModel)]="_user.password" />
                                <small *ngIf="_mode == 'update'" class="text-muted">(Enter password if you want to change it)</small>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('email')}">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input type="email" id="email" class="form-control" placeholder="Email" [formControl]="_form.controls['email']" [(ngModel)]="_user.email"/>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('role')}">
                            <label for="role" class="col-sm-2 control-label">Role</label>
                            <div class="col-sm-4">
                                <select id="role" class="form-control" [formControl]="_form.controls['role']" [(ngModel)]="_user.role">
                                    <option *ngFor="let role of _roles" [value]="role.id">{{role.role}}</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group" [ngClass]="{'has-danger': !_isValid('department')}">
                            <label for="department" class="col-sm-2 control-label">Department</label>
                            <div class="col-sm-4">
                                <input type="text" id="department" class="form-control" placeholder="Department" [formControl]="_form.controls['department']" [(ngModel)]="_user.department" />
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('company')}">
                            <label for="company" class="col-sm-2 control-label">Company</label>
                            <div class="col-sm-4">
                                <input type="text" id="company" class="form-control" placeholder="Company" [formControl]="_form.controls['company']" [(ngModel)]="_user.company" />
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('phone')}">
                            <label for="phone" class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-4">
                                <input type="text" id="phone" class="form-control" placeholder="Phone" [formControl]="_form.controls['phone']" [(ngModel)]="_user.phone" />
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('address')}">
                            <label for="address" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-8">
                                <textarea id="address" class="form-control" rows="6" [formControl]="_form.controls['address']" [(ngModel)]="_user.address"></textarea>
                            </div>
                        </div>-->

                        <div class="form-group" [ngClass]="{'has-danger': !_isValid('status')}">
                            <label for="status" class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-4">
                                <select id="status" class="form-control" [formControl]="_form.controls['status']" [(ngModel)]="_user.status">
                                    <option *ngFor="let statusType of _statusTypes" [value]="statusType.value" [selected]="">{{statusType.label}}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <div class=" col-sm-6">
                            <a class="btn btn-default" [routerLink]="['/user']" routerLinkActive="active">Cancel</a>
                            <button type="submit" class="btn btn-success pull-right" [disabled]="!_form.valid || _submitted == true">Submit</button>
                            <div *ngIf="_submitted" class="spinner"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
