<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Bulk Assign</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <div class="col-sm-4"><h3 class="box-title">Campaign: {{_campaignName}}</h3></div>
                    <div class="col-sm-4"><h3 class="box-title">Unassigned Entries: {{_unassignedwinnerlist}}</h3></div>
                    <div class="col-sm-4" *ngIf="_startdate"><h3 class="box-title">Dates: {{_startdate | date: 'MMM dd, yyyy'}} -- {{_enddate | date: 'MMM dd, yyyy'}}</h3></div>
                </div>
            </div>
        </div>
    </div>

    <form #myForm="ngForm">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary pull-right" (click)="assignEntries(myForm)" [disabled]="_submitted == true">Bulk Assign</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center">#</th>
                                <th style="text-align: center">User</th>
                                <th style="text-align: center">Total Assigned Entries</th>
                                <th style="text-align: center">Pending Entries</th>
                                <th style="text-align: center">Approved Entries</th>
                                <th style="text-align: center">Rejected Entries</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                            </thead>
                            <tbody ngModelGroup="inputs" #inputs="ngModelGroup">
                            <tr *ngFor="let bad of _bulkassigndetails; let i=index">
                                <td align="center">{{i+1}}</td>
                                <td align="center">{{bad.username}}</td>
                                <td align="center">{{bad.assigned_count}}</td>
                                <td align="center">{{bad.pending_count}}</td>
                                <td align="center">{{bad.closed_count}}</td>
                                <td align="center">{{bad.rejected_count}}</td>
                                <td align="center">
                                    <input type="text" class="form-control" name="{{'invoice'+i}}" [ngModel]="" />
                                    <input type="hidden" name="{{'userid'+i}}" [ngModel]="bad.user_id" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>