<section class="content">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Customer Data</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <div class="col-sm-4"><h3 class="box-title">Campaign: {{_campaignName}}</h3></div>
                    <div class="col-sm-8" *ngIf="_startdate"><h3 class="box-title">Selected Date: {{_startdate | date: 'MMM dd, yyyy'}} -- {{_enddate | date: 'MMM dd, yyyy'}}</h3></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="pull-right">
                    <button type="button" class="btn btn-block btn-primary" (click)="downloadReport()" [disabled]="_downloadSubmitted == true"><i class="fa fa-download"></i> Download</button>
                    <div *ngIf="_downloadSubmitted" class="spinner"></div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center">#</th>
                            <th style="text-align: center">User</th>
                            <th style="text-align: center">Customer Name</th>
                            <th style="text-align: center">Mobile</th>
                            <th style="text-align: center">Email</th>
                            <th style="text-align: center">Bill</th>
                            <th style="text-align: center">OCR Comments</th>
                            <th style="text-align: center">State</th>
                            <th style="text-align: center">Assigned On</th>
                            <th style="text-align: center">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let resd of _reassigndetails; let i=index">
                            <td align="center">{{i+1}}</td>
                            <td align="center">{{resd.username}}</td>
                            <td align="center">{{resd.customername}}</td>
                            <td align="center">{{resd.mobile}}</td>
                            <td align="center">{{resd.email}}</td>
                            <td align="center"><a href="{{resd.bill_image}}" target="_blank">{{resd.bill_image}}</a></td>
                            <td align="center">{{resd.billsnap_comments}}</td>
                            <td align="center">{{resd.statename}}</td>
                            <td align="center">{{resd.assigned_on | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td align="center">{{resd.status}}</td>
                        </tr>
                        <tr *ngIf="_reassigndetails?.length == 0">
                            <td colspan="10" align="center">Sorry, no records found!</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>