<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Re Assign</h3>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" *ngIf="_errorMessage">{{_errorMessage}}</div>
                    <form [formGroup]="_form">
                        <div class="col-sm-3">
                            <select id="campaign_id" class="form-control" formControlName="campaign_id" #campaign_id>
                                <option value="">Select Campaign</option>
                                <option *ngFor="let campaign of _campaigns" [value]="campaign.id">{{campaign.title}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select id="state_id" class="form-control" formControlName="state_id" #state_id>
                                <option value="">Select State</option>
                                <option *ngFor="let state of _states" [value]="state.id">{{state.statename}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" bsDaterangepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }" formControlName="filterDate" placeholder="Filter by assigned date" readonly />
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control" formControlName="userid" #userid>
                                <option value="">Select User</option>
                                <option *ngFor="let agt of _agents" [value]="agt.id">{{agt.username}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success" (click)="winnerlistData(campaign_id.value, state_id.value, _form.value.filterDate, userid.value)" [disabled]="!_form.valid || _submitted === true">Search</button>
                            <div *ngIf="_submitted === true" class="spinner"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form #myForm="ngForm">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="col-sm-3">
                            <select name="userlist" class="form-control" #userlist>
                                <option value="">Select User</option>
                                <option *ngFor="let agnt of _agents" [value]="agnt.id">{{agnt.username}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" (click)="reassignEntries(myForm, userlist.value)" [disabled]="_frmsubmitted == true">Re Assign</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center"><input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)"/></th>
                                <th style="text-align: center">#</th>
                                <th style="text-align: center">User</th>
                                <th style="text-align: center">Customer Name</th>
                                <th style="text-align: center">Mobile</th>
                                <th style="text-align: center">Email</th>
                                <th style="text-align: center">Bill</th>
                                <th style="text-align: center">OCR Comments</th>
                                <th style="text-align: center">State</th>
                                <th style="text-align: center">Assigned On</th>
                            </tr>
                            </thead>
                            <tbody ngModelGroup="inputs" #inputs="ngModelGroup">
                            <tr *ngFor="let resd of _reassigndetails; let i=index">
                                <td align="center"><input type="checkbox" name="userids{{i}}" [(ngModel)]="resd.state"/></td>
                                <td align="center">{{i+1}}</td>
                                <td align="center">{{resd.username}}</td>
                                <td align="center">{{resd.customername}}</td>
                                <td align="center">{{resd.mobile}}</td>
                                <td align="center">{{resd.email}}</td>
                                <td align="center"><a href="{{resd.bill_image}}" target="_blank">{{resd.bill_image}}</a></td>
                                <td align="center">{{resd.billsnap_comments}}</td>
                                <td align="center">{{resd.statename}}</td>
                                <td align="center">{{resd.assigned_on | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>