.wrap > .container {
  padding: 10px 15px 20px;
}
.agreeterms {
  padding-left: 20px;
}
.tn-input {
  height: 80px !important;
}
.reg-steps {
  list-style: none;
  counter-reset: item;
}

.reg-steps > li {
  counter-increment: item;
  margin-bottom: 5px;
}

.reg-steps > li:before {
  margin-right: 10px;
  margin-top: 5px;
  content: counter(item);
  background: red;
  border-radius: 100%;
  top: 5px;
  color: white;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}

.mobcond {
  margin-top: 200px;
}