<div class="animated fadeIn" *ngIf="!_campaigns && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_campaigns">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Campaign List</h3>
                    <div class="pull-right">
                        <a class="btn btn-block btn-primary" [routerLink]="['/campaign', 'create']" routerLinkActive="active"><i class="fa fa-plus"></i> Add New</a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Campaign Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let campaign of _campaigns; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{campaign.id}}</td>
                            <td>
                                <a (click)="viewCampaign(campaign)">{{campaign.title}}</a>
                            </td>
                            <td>{{campaign.startdate | date: 'MMM d, yyyy, '}}00:00:00 AM</td>
                            <td>{{campaign.enddate | date: 'MMM d, yyyy, '}}11:59:59 PM</td>
                            <td>
                                <span *ngIf="campaign.status === 1">Active</span>
                                <span *ngIf="campaign.status === 0">Inactive</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>