<div class="animated fadeIn" *ngIf="!_mode && !_errorMessage">
    <span class="spinner"></span>
</div>

<section class="content animated fadeIn" *ngIf="_mode">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" *ngIf="_mode == 'create'">Add New Campaign</h3>
                    <h3 class="box-title" *ngIf="_mode == 'update'">Update Campaign</h3>
                </div>
                <div class="alert alert-danger text-center" *ngIf="_errorMessage">{{_errorMessage}}</div>
                <tabset type="tabs" class="nav-tabs-custom" #campaignTabs>
                    <tab heading="General">
                        <div class="box-body">
                            <form class="form-horizontal" [formGroup]="_form" (ngSubmit)="onSubmit()">
                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('title')}">
                                    <label for="title" class="col-sm-2 control-label">Campaign Title</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="title" class="form-control" placeholder="Campaign Title" [formControl]="_form.controls['title']" [(ngModel)]="_campaign.title" />
                                        <span class="help-block error-text" *ngIf="!_formErrors.title.valid">{{_formErrors.title.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('contactno')}">
                                    <label for="contactno" class="col-sm-2 control-label">Contact Number</label>
                                    <div class="col-sm-4">
                                        <input type="text" id="contactno" class="form-control" placeholder="Campaign Contact No" [formControl]="_form.controls['contactno']" [(ngModel)]="_campaign.contactno" />
                                        <span class="help-block error-text" *ngIf="!_formErrors.contactno.valid">{{_formErrors.contactno.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('startdate')}">
                                    <label for="startdate" class="col-sm-2 control-label">Start Date</label>
                                    <div class="col-sm-4 input-group date" style="padding-left: 15px;">
                                        <input type="text" id="startdate" class="form-control" #startdate="bsDatepicker" bsDatepicker [(bsValue)]="_startDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }" [formControl]="_form.controls['startdate']" [(ngModel)]="_campaign.startdate" readonly />
                                        <span class="help-block error-text" *ngIf="!_formErrors.startdate.valid">{{_formErrors.startdate.message}}</span>
                                        <span class="input-group-addon" (click)="startdate.toggle()">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('enddate')}">
                                    <label for="enddate" class="col-sm-2 control-label">End Date</label>
                                    <div class="col-sm-4 input-group date" style="padding-left: 15px;">
                                        <input type="text" id="enddate" class="form-control" #enddate="bsDatepicker" bsDatepicker [(bsValue)]="_endDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-orange' }" [formControl]="_form.controls['enddate']" [(ngModel)]="_campaign.enddate" readonly />
                                        <span class="help-block error-text" *ngIf="!_formErrors.enddate.valid">{{_formErrors.enddate.message}}</span>
                                        <span class="input-group-addon" (click)="enddate.toggle()">
                                                 <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('sitebanner')}">
                                    <label for="sitebanner" class="col-sm-2 control-label">Site Banner</label>
                                    <div class="col-sm-4">
                                        <input type="file" id="sitebanner" class="form-control" accept=".jpg,.jpeg,.png,.gif" (change)="handleFileChange($event)" #sitebanner />
                                        <span class="help-block error-text" *ngIf="!_formErrors.sitebanner.valid">{{_formErrors.sitebanner.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" *ngIf="_campaign.sitebanner">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-4">
                                        <img src="{{_campaign.sitebanner}}" width="100" height="100" />
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('ocr_enable')}">
                                    <label for="ocr_enable" class="col-sm-2 control-label">Enable OCR</label>
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="ocr_enable" [formControl]="_form.controls['ocr_enable']" [(ngModel)]="_campaign.ocr_enable" />
                                        <span class="help-block error-text" *ngIf="!_formErrors.status.valid">{{_formErrors.ocr_enable.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid('status')}">
                                    <label for="status" class="col-sm-2 control-label">Status</label>
                                    <div class="col-sm-4">
                                        <select id="status" class="form-control" [formControl]="_form.controls['status']" [(ngModel)]="_campaign.status">
                                            <option *ngFor="let statusType of _statusTypes" [value]="statusType.value" [selected]="">{{statusType.label}}</option>
                                        </select>
                                        <span class="help-block error-text" *ngIf="!_formErrors.status.valid">{{_formErrors.status.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary pull-right" [disabled]="!_form.valid || _tab1Submitted == true">Next &raquo;</button>
                                        <div *ngIf="_tab1Submitted" class="spinner"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tab>

                    <tab heading="Pages" [disabled]="true">
                        <div class="box-body">
                            <form class="form-horizontal" [formGroup]="_form2" (ngSubmit)="onSubmitTab2()">
                                <div class="form-group" [ngClass]="{'has-danger': !_isValid2('regtext')}">
                                    <label for="regtext" class="col-sm-2 control-label">Registration SMS Text</label>
                                    <div class="col-sm-8">
                                        <textarea id="regtext" class="form-control" rows="6" [formControl]="_form2.controls['regtext']" [(ngModel)]="_campaign.regtext"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.regtext.valid">{{_formErrors.regtext.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid2('txtcontact')}">
                                    <label class="col-sm-2 control-label">Contact Us Page</label>
                                    <div class="col-sm-8">
                                        <textarea id="txtcontact" class="form-control" rows="6" [formControl]="_form2.controls['txtcontact']" [(ngModel)]="_campaign.txtcontact"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.txtcontact.valid">{{_formErrors.txtcontact.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid2('txtterms')}">
                                    <label for="txtterms" class="col-sm-2 control-label">Terms &amp;amp; Conditions Page</label>
                                    <div class="col-sm-8">
                                        <textarea id="txtterms" class="form-control" rows="6" [formControl]="_form2.controls['txtterms']" [(ngModel)]="_campaign.txtterms"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.txtterms.valid">{{_formErrors.txtterms.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid2('postregmsgvalid')}">
                                    <label for="postregmsgvalid" class="col-sm-2 control-label">Booking Success Msg</label>
                                    <div class="col-sm-8">
                                        <textarea id="postregmsgvalid" class="form-control" rows="6" [formControl]="_form2.controls['postregmsgvalid']" [(ngModel)]="_campaign.postregmsgvalid"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.postregmsgvalid.valid">{{_formErrors.postregmsgvalid.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" [ngClass]="{'has-danger': !_isValid2('postregmsginvalid')}">
                                    <label for="postregmsginvalid" class="col-sm-2 control-label">Booking Failure Msg</label>
                                    <div class="col-sm-8">
                                        <textarea id="postregmsginvalid" class="form-control" rows="6" [formControl]="_form2.controls['postregmsginvalid']" [(ngModel)]="_campaign.postregmsginvalid"></textarea>
                                        <span class="help-block error-text" *ngIf="!_formErrors.postregmsginvalid.valid">{{_formErrors.postregmsginvalid.message}}</span>
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top: 20px;">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary pull-right" [disabled]="!_form2.valid || _tab2Submitted == true">Submit</button>
                                        <!--<button type="button" class="btn btn-primary pull-left">&laquo; Prev</button>-->
                                        <div *ngIf="_tab2Submitted" class="spinner"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</section>
