html,
body {
  height: 100%;
}

h1, .h1 {
  font-size: 24px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;

  background-color: #f6f6f6;
}

.wrap > .container {
  padding: 10px 15px 20px;
}

.wrap > .banner {
  height: auto;
  width: 100%;
  /*padding-top: 78px;*/
}

.navbar-default {
  background-color: #EFF3F6;
  border-color: #EFF3F6;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 600;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-brand {
  height: 77px;
}

a {
  color: #2fa4e7;
  text-decoration: none;
}

.btn {
  padding: 1.2rem;
  font-weight: 700;
}

.btn-primary {
  color: #fff;
  background-color: #f50406;
  border-color: #f50406;
}

.btn-primary:hover {
  color: #fff;
  background-color: #f50406;
  border-color: #f50406;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #f50406;
  border-color: #f50406;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
  color: #fff !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 12px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 12px;
}

/*-- Jumbotron tweaks --*/

.jumbotron {
  text-align: center;
}

.footer {
  height: 82px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/*-- Sorting --*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

/*-- Other --*/

.grid-view th {
  white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
  content: " *";
  color: #e13431;
}

/*-- GridView options display tweaks --*/

.user-index td:last-child,
.articles-admin td:last-child {
  width: 68px;
}

.article-view th {
  min-width: 90px;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
  font-weight: bold;
  color: green;
}

.boolean-false {
  font-weight: bold;
  color: #e13431;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
  font-weight: bold;
  color: black;
}

.role-admin {
  font-weight: bold;
  color: #c4a500;
}

.role-editor {
  font-weight: bold;
  color: #800080;
}

.role-support {
  font-weight: bold;
  color: #009d00;
}

.role-premium {
  font-weight: bold;
  color: #4c4cff;
}

.role-member {
  font-weight: bold;
}

/*-- Colors used for various data presentation purposes --*/

.blue {
  font-weight: bold;
  color: #7373ff;
}

.green {
  font-weight: bold;
  color: #009d00;
}

.gold {
  font-weight: bold;
  color: #c4a500;
}

hr.top {
  margin-top: 0px;
  border-width: 1px;
  border-color: #333;
  text-align: left;
}

hr.article-devider {
  border-width: 1px;
  border-color: #444;
  border-style: dashed;
  text-align: left;
}

/*-- Password strength --*/

/* hide strength meter so we can fade it in nicely with jQuery */
.nz-meter-container {
  display: none;
}

.error-msg {
  border: 1px solid #ff0000;
  padding: 10px;
  margin-bottom: 10px;
  color: #ff0000;
}

.error-text {
  color: #ff0000 !important;
  font-style: italic !important;
}

.logo {
  width: 102px;
  height: 50px;
}