/*.wrap > .container {
   padding: 70px 15px 20px;
}*/
h1, .h1 {
  font-size: 18px;
}
.hide {
  display: none;
}
.take-photo {
  padding-top: 20px;
}
.preview-bill {
  width: 100%;
  height: 500px;
}
.fa-ul > li {
  line-height: 30px;
}
.fa-check {color: #00aa00; }

.billloader,
.billloader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.billloader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #f50406;
  border-right: 1.1em solid #f3f3f3;
  border-bottom: 1.1em solid #f3f3f3;
  border-left: 1.1em solid #f3f3f3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.billloadingDiv {
  /*position:absolute;;
  top:0;
  left:0;*/
  width:100%;
  height:100%;
  /*background-color:#fff;*/
}
